.heading {
  margin-bottom: 20px;
}

.heading__title {
  display: flex;
  align-items: center;
  color: #ccd6f6;
  font-weight: bold;
  margin-bottom: 30px;
  font-size: calc(15px + 1vw);
  white-space: nowrap;
}

.heading__title > span {
  color: #ff8906;
  margin-right: 10px;
  font-size: calc(10px + 1vw);
  margin-top: auto;
}

.heading__title--hr {
  width: 300px;
  height: 1px;
  background-color: #303c55;
  display: inline-block;
  margin-left: 20px;
}
